<div class="palm-group">
  <div class="palm-group-title" x-mojo-loc="">
    Host Selection
  </div>
  <div class="palm-list">
    <div class="palm-row single">
      <div class="palm-row-wrapper">
	<div x-mojo-element="ListSelector" id="hostSelector"
	     class="hostselectorClass"  name="hostSelector"></div> 
      </div>
    </div>
  </div>
</div>

<div class="button-area">
  <div x-mojo-element="Button" id="refreshButton" class="buttonClass" name="refreshButton">Refresh hosts</div>
  <div x-mojo-element="Button" id="startButton" class="buttonClass" name="startButton">Start</div>
</div>

<div id="log-output">
</div>

