<div class="palm-page-header multi-line">
  <div class="palm-page-header-wrapper">
    <div class="pref-icon">
      <img src="images/icon_pref.png"></img>
    </div>
    <div class="title" x-mojo-loc=''>
      Bluetooth Presenter Preferences
    </div>   
  </div>                                                                                                                                                                         
</div>

<div class="palm-group">
  <div class="palm-group-title" x-mojo-loc="">
    Host Selection
  </div>
  <div class="palm-list">
    <div class="palm-row single">
      <div class="palm-row-wrapper">
	<div x-mojo-element="ListSelector" id="hostselectorId"
	     class="hostselectorClass"  name="hostselectorName"></div> 
      </div>
    </div>
  </div>
</div>

