<div class="palm-page-header multi-line">
  <div class="palm-page-header-wrapper">
    <div class="pref-icon">
      <img src="images/icon_pref.png"></img>
    </div>
  </div>                                                                                                                                                                         
</div>

<div class="palm-group">
  <div class="palm-group-title" x-mojo-loc="">
    Preferences
  </div>
  <div class="palm-list">
    <div class="palm-row single">
      <div class="palm-row-wrapper">
        <div class="palm-row-wrapper">
          <div x-mojo-element="ToggleButton" id="debugToggle"></div>
          <div class="title left">Show debug output</div>
        </div>
      </div>
    </div>
    <div class="palm-row single">
      <div class="palm-row-wrapper">
        <div class="palm-row-wrapper">
          <div x-mojo-element="ToggleButton" id="enableVolumekeys"></div>
          <div class="title left">Use volume keys </div>
        </div>
      </div>
    </div>
    <div class="palm-row single">
      <div class="palm-row-wrapper">
        <div class="palm-row-wrapper">
          <div x-mojo-element="ToggleButton" id="inhibitPowerOff"></div>
          <div class="title left">Inhibit power off</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="log-output">
</div>

