<div class="palm-page-header multi-line">
  <div class="palm-page-header-wrapper">
    <div class="pref-icon">
      <img src="images/icon_pref.png"></img>
      Preferences
    </div>
  </div>          
</div>

<div class="palm-group">
  <div class="palm-group-title" x-mojo-loc="">
    General
  </div>
  <div class="palm-list">
    <div class="palm-row single">
      <div class="palm-row-wrapper">
        <div class="palm-row-wrapper">
          <div x-mojo-element="ToggleButton" id="debugToggle"></div>
          <div class="title left">Show debug output</div>
        </div>
      </div>
    </div>
    <div class="palm-row single">
      <div class="palm-row-wrapper">
        <div class="palm-row-wrapper">
          <div x-mojo-element="ToggleButton" id="enableVolumekeys"></div>
          <div class="title left">Use volume keys </div>
        </div>
      </div>
    </div>
    <div class="palm-row single">
      <div class="palm-row-wrapper">
        <div class="palm-row-wrapper">
          <div x-mojo-element="ToggleButton" id="useMouse"></div>
          <div class="title left">Send Mouse events</div>
        </div>
      </div>
    </div>
    <div class="palm-row single">
      <div class="palm-row-wrapper">
        <div class="palm-row-wrapper">
          <div x-mojo-element="ToggleButton" id="inhibitPowerOff"></div>
          <div class="title left">Inhibit power off</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="palm-group">
  <div class="palm-group-title" x-mojo-loc="">
    Key Mappings
  </div>
  <div class="palm-list">
    <div class="palm-row single">
      <div class="palm-row-wrapper">
	<div x-mojo-element="ListSelector" id="forwardSelector"
	     name="forwardSelector"></div> 
      </div>
    </div>
    <div class="palm-row single">
      <div class="palm-row-wrapper">
	<div x-mojo-element="ListSelector" id="button1Selector"
	     name="button1Selector"></div> 
      </div>
    </div>
    <div class="palm-row single">
      <div class="palm-row-wrapper">
	<div x-mojo-element="ListSelector" id="button2Selector"
	     name="button2Selector"></div> 
      </div>
    </div>
    <div class="palm-row single">
      <div class="palm-row-wrapper">
	<div x-mojo-element="ListSelector" id="button3Selector"
	     name="button3Selector"></div> 
      </div>
    </div>
    <div class="palm-row single">
      <div class="palm-row-wrapper">
	<div x-mojo-element="ListSelector" id="button4Selector"
	     name="button4Selector"></div> 
      </div>
    </div>
    <div class="palm-row single">
      <div class="palm-row-wrapper">
	<div x-mojo-element="ListSelector" id="volumeUpSelector"
	     name="volumeUpSelector"></div> 
      </div>
    </div>
    <div class="palm-row single">
      <div class="palm-row-wrapper">
	<div x-mojo-element="ListSelector" id="volumeDnSelector"
	     name="volumeDnSelector"></div> 
      </div>
    </div>
  </div>
</div>

<div id="log-output">
</div>
